.footer {

    
    height: 93px;
background-color: #334356;



    &__oferta {


    }
 
    &__title {
        font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 160%;
color: #BDBDBD;
    }
}